# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# database connection string 
DATABASE_URL="connection://user:password@host:port/database"

# Oauth keys for google : https://console.cloud.google.com/apis/credentials/oauthclient/ : for google auth 
GOOGLE_CLIENT_ID=[google client id]
GOOGLE_CLIENT_SECRET=[google client secret]

# Oauth keys for facebook https://developers.facebook.com/apps/ : for facebook auth
FACEBOOK_CLIENT_ID="627211616096008"
FACEBOOK_CLIENT_SECRET="75cbb5f16349d4f3e70b3b20ed15ed18"

## google storage : https://console.cloud.google.com/storage/browser : used for storing images
BUCKET_URL=[google storage url ]
BUCKET_NAME=[google storage bucket name]
BUCKET_KEY_FILE= [google storage key file]

# openai api key : https://www.openai.com : used for generating image and test descriptions
OPENAI_API_KEY = [openai api key]

# Stripe keys for production http://stripe.com
SECRET_STRIPE_KEY = "sk_[Stripe Secret key]"
PUBLIC_STRIPE_KEY = "pk_[Stripe public key]"

# sites current domain : localhost:8080 for testing; used for redirectUri for OAuth and emails 
DOMAIN="http://localhost:8080" 

# Resend API key https://resend.com/  used for validation and password reset emails
RESEND_API_KEY="re_SVDbLG5S_FbCaFpPTVz5Fx1UHsaDzWjHJ"

# dev email leave BLANK ON PRODUCTION as it will use the email of the user 
DEV_EMAIL = example@email.com;